<% content_for :title, "广西四方连续文化传媒-南宁品牌策划|VI设计|画册设计|网站设计|会议会展|印刷" %>

<% content_for :description, "四方连续创享品牌，专注品牌形象量身定制，是一家注重实效的新锐设计公司。核心服务:标志设计、包装设计、网页设计、室内设计、摄影摄像、喷绘、印刷、商务活动等" %>

<% content_for :keywords, "广西广告设计, 南宁广告设计, 南宁网页设计, 南宁网站设计, 南宁logo设计, 南宁vi设计, 南宁画册设计, 南宁包装设计, 南宁喷绘, 南宁彩印, 南宁印刷, 南宁会议, 南宁会展, 南宁展会, 南宁商务活动, 南宁桁架, 广西网页设计, 广西网站设计, 广西logo设计, 广西vi设计, 广西画册设计, 广西包装设计, 广西喷绘, 广西彩印, 广西印刷, 广西会议, 广西会展, 广西展会, 广西商务活动, 广西桁架, 南宁四方连续, 广西四方连续, 四方连续广告" %>
<div class="slider-wrap position-relative">
  <div class="slider-for index-slider-for">
    <div class="slider-bg" style="background-image: url(<%= image_path('index/网站-设计策划.jpg') %> );">
      <a href='/galleries'>
        <div class="slider-info row no-gutters ">
          <div class="col-md-10 col-12 px-2 mx-auto mt-md-10 mt-40">
            <%= image_tag "index/网站-L-设计策划icon.svg", class: 'w-100' %>
          </div>
        </div>
      </a>
      <%# image_tag "" %>
      <%# image_tag Gallery.first.images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-会展会议.jpg") %> );">
      <a href='/conference'>
        <div class="slider-info row no-gutters">
          <div class="col px-2 mt-md-10 mt-40">
            <%= image_tag "index/网站-L-会展会议icon.svg", class: 'img-fluid mx-auto ' %>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.second.images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-网络技术.jpg") %> );">
      <a href='/web'>
        <div class="slider-info row no-gutters">
          <div class="col-md-5 col-12 p-md-5 px-2 mt-md-0 mt-40">
            <%= image_tag "index/网站-L-网络技术icon.svg", class: 'img-fluid' %>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.all[3].images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-关于我们-1.jpg") %> );">
      <a href='/contact' data-turbolinks="false">
        <div class="slider-info row no-gutters justify-content-center">
          <div class="col-11 ">
            <div class="row no-gutters h-100 align-items-center">
              <div class="col-md-5 d-none d-md-block col-0 pt-xl-0 pt-5">
                <%= image_tag "index/网站-关于我们-2.svg", class: 'img-fluid' %>
              </div>
              <div class="col-md-7 col-12 py-md-5 p-2 pr-md-5">
                <div class="row no-gutters">
                  <div class="col-md-11 col-12 pb-xl-5 pb-4 m-auto">
                    <%= image_tag "index/网站-L-关于我们icon.svg", class: 'img-fluid ' %>
                  </div>
                  <div class="col-md-8 col-12 col-xl-7 ml-auto px-5">
                    <%= image_tag "index/网站-关于我们-3.png", class: 'w-100' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.all[3].images.first.image %>
    </div>
  </div>

  <div class="slider-nav-wrap  w-100">
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="slider-nav index-slider-nav col text-white">
          <div class="row no-gutters">
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path0 = "index/网站-设计策划icon" %>
              <%= image_tag (index_img_path0 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path0 + "-s.svg"), 'data-src': image_path(index_img_path0 + ".svg") %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path1 = "index/网站-会展会议icon" %>
              <%= image_tag (index_img_path1 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path1 + "-s.svg"), 'data-src': image_path(index_img_path1 + ".svg")  %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path2 = "index/网站-网络技术icon" %>
              <%= image_tag (index_img_path2 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path2 + "-s.svg"), 'data-src': image_path(index_img_path2 + ".svg")  %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path3 = "index/网站-关于我们icon" %>
              <%= image_tag (index_img_path3 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path3 + "-s.svg"), 'data-src': image_path(index_img_path3 + ".svg")  %>
            </div>
          </div>
        </div>
        <div id="index-slider-nav-scroll" class="slider-nav-scroll col-md-1 d-none d-md-block" >
          <div class="scroll-down-animation-wrap">
            <div class="scroll-down-animation">
              <a href="#"><span></span></a>
            </div>
            <section class="section07">
              <a href="#"><span></span><span></span></a>
            </section>
          </div>
        </div>
      </div>

      <span class="move-line" style="height: 4px; position: absolute; background-color: rgb(255, 255, 255); opacity: 0.75; transition: transform 0.35s ease; top: 0px; transform: translate3d(0px, 0px, 0px); " data-radium="true" data-reactid="150">
      </span>
    </div>
  </div>
</div>

<div id="index-main-container" class="container pt-5">
  <div class="row mb-5 no-gutters">
    <div class="col-12 mb-3 border-bottom">
      <p class="font-weight-bold" style="text-indent:2em">四方连续文化传媒始于2013，位于广西南宁，是一家注重实效的新锐设计公司，我们以设计和创意为驱动力，为企业市场与运营提供以下服务：</p>
    </div>

    <% services = [{title: "品牌形象建立与升级", content: "品牌策划 + 标志设计<br>VIS设计 + 商业空间设计"},
      {title: "推广物料设计", content: "画册样本设计 + 展会形象设计<br>包装设计 + 网站设计"},
      {title: "广告设计代理", content: "专业地产整合推广以及<br>品牌形象年度设计管理"},
      {title: "会议会展", content: "提供专业的会议与商业活动服务<br>全程策划与执行"},
      {title: "高端网站建设", content: "高端品牌网站建设<br>电商视觉设计"},
      {title: "more", content: "……"}] %>
    <% services.each_with_index do |s,i| %>
      <div class="col-lg-4 col-12 text-center border-left border-right border-xs-0 ">
        <span class="font-weight-bold h5">
        <%= s[:title] %>
        </span>

        <p>
        <%= s[:content] && raw(s[:content]) %>
        </p>
      </div>
      <%# output a row border when third div%>
      <%= raw '<div class="col-12 d-xs-none d-sm-none d-md-none d-lg-block my-3 border-bottom"></div>' if i == 2 %>
    <% end %>

    <div class="col-12 mt-3 border-bottom"></div>

  </div>

  <!-- galleries  -->
  <div class=" row no-gutters">
    <% @galleries.each_with_index do |g, index| %>

    <% gallery_types = g.gallery_types.map {|gt| gt.gallery_type} %>
    <% gallery_types_eng = g.gallery_types.map {|gt| gt.eng_name} %>
    <%# byebug %>
    <% if ["all", ""].include?(@gallery_type.to_s) %>
      <% d_none = "" %>
    <% elsif gallery_types_eng.include?(@gallery_type) %>
      <%  d_none = "" %>
    <% else %>
      <%  d_none = "d-none" %>
    <% end %>
    <div class="item col-md-6 col-lg-4 <%= d_none %>" data-classify="<%= gallery_types.join(",") %>" >
      <%# work.gallery_path == url_for(:action=>"show", :controller=>"work/galleries", id: 1) %>
      <%= link_to work.gallery_path g do %>
        <div class="mask"></div>
        <div class="gallery-text d-flex align-items-center">
          <h5 class="mx-auto"><%= "#{g.title}-#{gallery_types.join('/')}" %></h5>
        </div>
        <% cover = g.images.select {|img| img.image.filename == g.cover}.first
        cover = g.images.first if cover.to_s.empty?
        %>
        <% cover_size = '640x450' %> <!-- '720x405' -->
        <!-- <div style="overflow: hidden;"> -->
        <% if cover %>
          <%= image_tag main_app.url_for(cover.image.variant(combine_options: {resize: "#{cover_size}^", gravity: 'center', crop: "#{cover_size}+0+0"} )), class: "w-100 cover-img", style: "" %>
        <% end %>
      <% end -%>
    </div>
    <% end %>
  </div>

</div>

<!-- form -->
<div class="col-12 p-lg-5 px-1 py-4 grey lighten-4">
  <div class="row m-0 justify-content-center">
    <div class="col-xl-9 col-12">
      <div class="col-12 py-sm-4 py-2">
        <h3>请填写您的服务需求获取项目报价。</h3>
      </div>
      <div class="col-12 py-sm-4 py-2">
        <%= render 'crequest_form' %>
      </div>
      <div class="col-12 py-sm-4 py-2">
        <p>* 请认真填写需求信息，我们会在24小时内与您取得联系。</p>
      </div>
    </div>
  </div>
</div>
