<!DOCTYPE html>
<html>
<head>
  <title>Account</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "account/application", media: "all" %>
  <%= javascript_include_tag "account/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
