<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "四方连续文化传媒" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <% if content_for(:description) %>
    <meta name="description" content="<%= content_for(:description) %>">
  <% end %>
  <% if content_for(:keywords) %>
    <meta name="keywords" content="<%= content_for(:keywords) %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'shared/manifests/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render_manifests('css') %>
  <%= javascript_include_tag 'shared/manifests/application', 'data-turbolinks-track': 'reload', 'defer': true %>
</head>

<body>
  <div id="menu">
    <div class="row justify-content-center no-gutters p-3">
      <a href="/"><%= image_tag("LOGO.svg") %></a>
    </div>
    <div class="external-icons row no-gutters justify-content-center p-3 my-2  border-bottom border-top border-white text-white">

      <div class="col-1 mx-1">
        <div id="slideout-weixin-icon">
          <i class="fab fa-weixin"></i>
        </div>
      </div>
      <div class="col-1 mx-1">
        <%= link_to "http://wpa.qq.com/msgrd?v=3&uin=877881120&site=qq&menu=yes", target: "_blank", class: "text-white" do %>
          <i class="fab fa-qq"></i>
        <% end %>
      </div>

    </div>

      <%= SlideoutPresenter.new(  Menus.new.menu_array, self ).to_html %>
    <div class="sidenav-bg mask-strong"></div>
  </div>

  <%# request.path.split('/') generate ["", "web"] %>
  <% path_first_name = request.path.split('/')[1] ? request.path.split('/')[1]+"-page" : "" %>
  <main id="panel" class=<%= path_first_name %>>
    <header>
      <%= render "layouts/header" %>
    </header>


    <% if notice %>
    <p class="notice alert alert-success fade show" role="alert"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>


    <!-- <footer> -->
    <%= render "layouts/footer" %>

  </main>



</body>
<%= javascript_include_tag 'shared/manifests/custom', 'data-turbolinks-track': 'reload' %>

</html>
