<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "admin/application", media: "all" %>
  <%= javascript_include_tag "admin/application" %>
</head>
<body>
  <h3>##for devise</h3>

  <% if notice %>
  <p class="notice alert alert-success fade show" role="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
