<%= form_for(:crequest, url: crequests_path, method: :post) do |f| %>
  <div class="form-row">
    <div class="col-sm-2 py-sm-0 py-1">
      <%= f.text_field :name, class: "form-control", placeholder: "您的姓名" %>
    </div>
    <div class="col-sm-2 py-sm-0 py-1">
      <%= f.telephone_field :phone, class: "form-control", placeholder: "联系电话"%>
    </div>
    <div class="col-sm py-sm-0 py-1">
      <%= f.text_field :request, class: "form-control", placeholder: "描述您的需求，如VI设计、会议服务、网站建设等。" %>
    </div>
    <div class="col-auto py-sm-0 py-1">
      <label class="btn btn-primary btn-input">
        <i class="fas fa-paper-plane"></i>
        <%= f.submit "提交项目需求", class: "" %>
      </label>
    </div>
  </div>
<% end %>
