<% content_for :title, "广西四方连续文化传媒-南宁品牌策划|VI设计|画册设计|网站设计|会议会展" %>

<% content_for :description, "四方连续创享品牌，专注品牌形象量身定制，是一家注重实效的新锐设计公司。核心服务:标志设计、包装设计、室内设计、摄影摄像、喷绘、印刷、商务活动等" %>

<% content_for :keywords, "广西广告设计, 南宁广告设计, 南宁网页设计, 南宁网站设计, 南宁logo设计, 南宁vi设计, 南宁画册设计, 南宁包装设计, 南宁喷绘, 南宁彩印, 南宁印刷, 南宁会议, 南宁会展, 南宁展会, 南宁商务活动, 南宁桁架, 广西网页设计, 广西网站设计, 广西logo设计, 广西vi设计, 广西画册设计, 广西包装设计, 广西喷绘, 广西彩印, 广西印刷, 广西会议, 广西会展, 广西展会, 广西商务活动, 广西桁架, 南宁四方连续, 广西四方连续, 四方连续广告" %>
<div class="slider-wrap position-relative">
  <div class="slider-for index-slider-for">
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-设计策划.jpg") %> );">
      <a href='/galleries'>
        <div class="slider-info row no-gutters ">
          <div class="col-10 mx-auto" style="margin-top: 5%">
            <%= image_tag "index/网站-L-设计策划icon.svg", class: 'w-100' %>
          </div>
        </div>
      </a>
      <%# image_tag "" %>
      <%# image_tag Gallery.first.images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-会展会议.jpg") %> );">
      <a href='/conference'>
        <div class="slider-info row no-gutters">
          <div class="col px-3 pt-5">
            <%= image_tag "index/网站-L-会展会议icon.svg", class: 'img-fluid mx-auto ' %>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.second.images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-网络技术.jpg") %> );">
      <a href='/web'>
        <div class="slider-info row no-gutters">
          <div class="col-5 p-5">
            <%= image_tag "index/网站-L-网络技术icon.svg", class: 'img-fluid' %>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.all[3].images.first.image %>
    </div>
    <div class="slider-bg" style="background-image: url(<%= image_path("index/网站-关于我们-1.jpg") %> );">
      <a href='/contact'>
        <div class="slider-info row no-gutters justify-content-center">
          <div class="col-11 ">
            <div class="row no-gutters h-100 align-items-center">
              <div class="col-5 pt-xl-0 pt-5">
                <%= image_tag "index/网站-关于我们-2.svg", class: 'img-fluid' %>
              </div>
              <div class="col-7 py-5 pr-5">
                <div class="row no-gutters">
                  <div class="col-11 col-xl-11 pb-xl-5 pb-4 m-auto">
                    <%= image_tag "index/网站-L-关于我们icon.svg", class: 'img-fluid ' %>
                  </div>
                  <div class="col-8 col-xl-5 col-xl-7 ml-auto px-5">
                    <%= image_tag "index/网站-关于我们-3.png", class: 'w-100' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <%# image_tag Gallery.all[3].images.first.image %>
    </div>
  </div>

  <div class="slider-nav-wrap  w-100">
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="slider-nav index-slider-nav col text-white">
          <div class="row no-gutters">
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path0 = "index/网站-设计策划icon" %>
              <%= image_tag (index_img_path0 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path0 + "-s.svg"), 'data-src': image_path(index_img_path0 + ".svg") %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path1 = "index/网站-会展会议icon" %>
              <%= image_tag (index_img_path1 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path1 + "-s.svg"), 'data-src': image_path(index_img_path1 + ".svg")  %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path2 = "index/网站-网络技术icon" %>
              <%= image_tag (index_img_path2 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path2 + "-s.svg"), 'data-src': image_path(index_img_path2 + ".svg")  %>
            </div>
            <div class="p-lg-5 p-4 col-3 slider-nav-item">
              <% index_img_path3 = "index/网站-关于我们icon" %>
              <%= image_tag (index_img_path3 + ".svg"), class: "img-fluid  ", 'data-md': image_path(index_img_path3 + "-s.svg"), 'data-src': image_path(index_img_path3 + ".svg")  %>
            </div>
          </div>
        </div>
        <div id="index-slider-nav-scroll" class="slider-nav-scroll col-md-1 d-none d-md-block" >
          <div class="scroll-down-animation-wrap">
            <div class="scroll-down-animation">
              <a href="#"><span></span></a>
            </div>
            <section class="section07">
              <a href="#"><span></span><span></span></a>
            </section>
          </div>
        </div>
      </div>

      <span class="move-line" style="height: 4px; position: absolute; background-color: rgb(255, 255, 255); opacity: 0.75; transition: transform 0.35s ease; top: 0px; transform: translate3d(0px, 0px, 0px); " data-radium="true" data-reactid="150">
      </span>
    </div>
  </div>
</div>
