<!DOCTYPE html>
<html>
<head>
  <title>Cgallery</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cgallery/application", media: "all" %>
  <%= javascript_include_tag "cgallery/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
