<% gallery_types = @gallery.gallery_types %>

<div class="gallery-show">

	<div class="row no-gutters">

		<div class="first-img col-12 text-white" style="background-image: url(<%= url_for first_img(@gallery).image %>);">
			<div class="mask"></div>

			<div class="row h-100" style="padding-top: 5%;">
				<div class="col-12">
					<!-- #1de9b6 teal accent-3 -->
					<div class="col-10 mx-auto p-3" style="border: solid #1de9b6 4px;">
						<div class="w-100" style="border: solid white 2px;">
							<div class="gallery_title" style="">
								<h1 style="line-height:120px;">《 <%= @gallery.title %> 》</h1>
							</div>
						</div>
					</div>


					<div class="col-12">
						<h3 style="line-height:40px;">
							<div class="c-rounded-circle mx-1"></div>
							<div class="c-rounded-circle mx-1"></div>
							<div class="c-rounded-circle ml-1 mr-4 "></div>
							<%= gallery_types.map {|gt| gt.gallery_type}.join('  ') %>  设计方案
							<div class="c-rounded-circle mr-1 ml-4"></div>
							<div class="c-rounded-circle mx-1"></div>
							<div class="c-rounded-circle mx-1"></div>
						</h3>
					</div>

					<div class="col-12">
						<%= @gallery.title_eng unless @gallery.title_eng.to_s.empty?%>
					</div>

					<div class="col-12">
						<%= gallery_types.map {|gt| gt.eng_name.upcase}.join('  ') %>
					</div>

				</div>


				<!-- <div class="row">
					<div class="col-12">
						<div class="scroll-icon">
							<a href="">
								<span></span>
							</a>
						</div>
					</div>
				</div> -->

			</div>

			<%# image_tag first_img.image, class: 'first_img img-fluid' %>
		</div>
	</div>

	<div class="container">
		<div class="row ">
			<div class="gallery-text col-12 p-5">
				<h3 class="gallery-title "><%= @gallery.title %></h3>
				<div class="gallery-types grey-darken-2-text py-3">
					<%= gallery_types.map {|gt| gt.gallery_type}.join(' · ') %>
				</div>
				<%= raw @gallery.body %>
			</div>

			<%= @gallery.side_body %>
			<% @gallery.images.order(:position).select {|img| img.position > 0 }.each do |img| %>
			<div class="col-12 py-2">
				<%= image_tag img.image, class: 'w-100' %>
			</div>
			<% end -%>
		</div>

		<%= link_to galleries_path, class: 'btn btn-outline-secondary my-3' do
			raw '<i class="fas fa-th mr-2"></i>返回作品集'
		end %>
	</div>




	<% next_gallery_index = @galleries.index(@gallery) + 1
	next_gallery = @galleries[next_gallery_index]
	if next_gallery %>
	<div class="row no-gutters">
			<div class="next-gallery-img col-12 ">
				<%= link_to next_gallery do %>

					<div class="mask position-absolute col-12 h-100 rgba-black-light "></div>

					<div class="position-absolute col-12 h-100 d-flex justify-content-center align-items-center">
						<div class="gallery_title text-white">
							<h3><%= next_gallery.title %></h3>
						</div>
					</div>

					<%= image_tag first_img(next_gallery).image, class: 'w-100', style: "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" %>
				<% end -%>
			</div>
	</div>
	<% end %>

</div>
