<div class="gallery-show">

	<div class="row no-gutters">

		<div class="first-img col-12" style="background-image: url(<%= url_for first_img(@gallery).image %>);">
			<div class="mask"></div>

			<div class="row h-100 flex-direction-column justify-content-between ">
				<div></div>
				<div class="row">
					<div class="col-12">
						<div class="gallery_title text-white">
							<h3><%= @gallery.title %></h3>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="scroll-icon">
							<a href="">
								<span></span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<%# image_tag first_img.image, class: 'first_img img-fluid' %>
		</div>
	</div>

	<div class="container">
		<div class="row ">
			<div class="gallery-text col-12 p-5">
				<h3 class="gallery-title "><%= @gallery.title %></h3>
				<div class="gallery-types grey-darken-2-text py-3">
					<%= @gallery.gallery_types.map {|gt| gt.gallery_type}.join(' · ') %>
				</div>
				<%= raw @gallery.body %>
			</div>

			<%= @gallery.side_body %>
			<% @gallery.images.order(:position).select {|img| img.position > 0 }.each do |img| %>
			<div class="col-12 py-2">
				<%= image_tag img.image, class: 'img-fluid' %>
			</div>
			<% end -%>
		</div>

		<%= link_to '返回作品集', galleries_path, class: 'btn btn-outline-secondary my-3' %>
	</div>





	<div class="row no-gutters">
		<% next_gallery_index = @galleries.index(@gallery) + 1 %>
		<% next_gallery = @galleries[next_gallery_index] %>
			<div class="next-gallery-img col-12 ">
				<%= link_to next_gallery do %>

					<div class="mask position-absolute col-12 h-100 rgba-black-light "></div>

					<div class="position-absolute col-12 h-100 d-flex justify-content-center align-items-center">
						<div class="gallery_title text-white">
							<h3><%= next_gallery.title %></h3>
						</div>
					</div>

					<%= image_tag first_img(next_gallery).image, class: 'img-fluid' %>
				<% end -%>

			</div>
	</div>

</div>
