<p id="notice"><%= notice %></p>

<h1>Crequests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crequests.each do |crequest| %>
      <tr>
        <td><%= link_to 'Show', crequest %></td>
        <td><%= link_to 'Edit', edit_crequest_path(crequest) %></td>
        <td><%= link_to 'Destroy', crequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crequest', new_crequest_path %>
