<div class="row">
  <div class="col">
    <span class="h1">Gallery Types</span>
    <span class="badge badge-pill badge-primary"><%= @gallery_types.count %></span>
  </div>
  <div class="col-auto">
    <span>
      <%= link_to 'New Gallery', new_gallery_type_path, class: "btn btn-success my-auto" %>
    </span>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% @show_page_attributes.each do |spa| %>
        <th scope="col"><%= spa.to_s %></th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_types.each do |gallery_type| %>
      <tr>
        <% @show_page_attributes.each do |spa| %>
          <td><%= gallery_type.try(spa) %></td>
        <% end %>
        <td>
          <%= link_to 'Show', gallery_type %>
          <%= link_to 'Edit', edit_gallery_type_path(gallery_type) %>
          <%= link_to 'Destroy', gallery_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
