<%#byebug%>

<!--Navbar-->
<nav class="navbar-wrap position-relative container-fluid p-0">

  <div class="navbar navbar-expand-lg navbar-dark row no-gutters align-items-center rgba-blue-strong w-100 h-100" >
    <%= image_tag "header/导航-边.svg", class: "d-none d-xl-block position-absolute h-100", style: "left:0;" %>
    <%= image_tag "header/导航-边.svg", class: "d-none d-xl-block position-absolute h-100", style: "right:0; transform: rotate(0.5turn);" %>
    <!-- <button class="toggle-button">☰</button> -->
    <div class="menu-toggle d-lg-none">
      <svg width="100%" height="100%" viewBox="0 0 100 100">
        <path id="first" d="M 30 40 L 70 40 C 90 40 90 75 60 85 A 40 40 0 0 1 20 20 L 80 80"></path>
        <path id="middle" d="M 30 50 L 70 50"></path>
        <path id="second" d="M 70 60 L 30 60 C 10 60 10 20 40 15 A 40 38 0 1 1 20 80 L 80 20"></path>
      </svg>
      <!-- <div class="toggle-button"></div> -->
    </div>



    <div class="d-none d-lg-block col text-center">
      <%= image_tag "header/导航-定位语.svg", class: "", style: "height: 1.3rem" %>
    </div>
    <!-- Navbar brand -->
    <!-- col col-sm-4  -->
    <div class="">
      <a class="navbar-brand mr-lg-0" href="/"><%= image_tag("header/导航-LOGO.svg", class: "mx-auto", style: "height: 3.5rem") %></a>
    </div>

    <!-- Collapse button -->
    <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

    <!-- Collapsible content -->
    <div class="d-none d-lg-block col" id="basicExampleNav">
      <div class="">
        <%= MenuPresenter.new(  Menus.new.menu_array, self ).to_html %>
      </div>
      <!--   <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
<!-- Collapsible content -->
  </div>
</nav>
<!--/.Navbar-->
