<!DOCTYPE html>
<html>
  <head>
    <title>SflxAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'defer': true %>
  </head>


  <body>
    <div id="menu">
      <%= SlideoutPresenter.new(  Menus.new.menu_array, self ).to_html %>
    </div>

    <main id="panel">
      <header>
        <%= render "layouts/header" %>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <footer>
        <%= render "layouts/footer" %>
      </footer>
    </main>



  </body>
</html>
